[submodule "pyusb_hotplug"]
	path = pyusb
	url = https://github.com/roberthartung/pyusb.git
	branch = hotplug
[submodule "Adafruit_Python_SSD1306"]
	path = Adafruit_Python_SSD1306
	url = https://github.com/adafruit/Adafruit_Python_SSD1306.git
[submodule "bt-speaker"]
	path = bt-speaker
	url = https://github.com/lukasjapan/bt-speaker.git
[submodule "Adafruit_Python_ILI9341"]
	path = Adafruit_Python_ILI9341
	url = https://github.com/adafruit/Adafruit_Python_ILI9341.git
[submodule "Adafruit_CircuitPython_RGB_Display"]
	path = Adafruit_CircuitPython_RGB_Display
	url = https://github.com/adafruit/Adafruit_CircuitPython_RGB_Display.git
